/* Custom Styles */

.hero {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Overlay */
}

.hero .text-white {
    position: relative;
    z-index: 1;
}

.icon-card {
    background: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

.icon-card:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2) !important;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}
